<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/files/css/own.css">
        <title>Website</title>
    </head>
	<body>
        <div class="hero-image">
            <div class="hero-text">
                <h1 style="padding-top:15px;"><a style="color:white;" href="/?view=list&filter=active">Notes!</a></h1>
                <p><a href="?view=add">Add note</a></p>
            </div>
        </div>
        <div class="container">